@CHARSET "UTF-8";

html {
	font-size: 14px;
}

body {
	background: url(../images/body-bckgr.jpg) left repeat fixed;
	background-size: 150%;
	font: 300 14px 'Lato', serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} 

[data-icon]:before {
	content: attr(data-icon);
	font-family: 'icomoon';
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	padding: 0 5px 0 0;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

[data-icon-after]:after {
	content: attr(data-icon-after);
	font-family: 'icomoon';
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	padding: 0 0 0 5px;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

h2 a {
	color: #fff;
}

h1 {
	font-family: 'Lato';
	font-size: 4rem;
	font-weight: 400;
	margin: .75em 0 .2em;
}

h1 [data-icon] {
	font-size: .712em;
}

#tipLeft [data-icon] {
	font-size: .712em;
}

h2 {
	color: #04c8e5;
	display: block;
	font-family: 'Lato';
	font-size: 2.2em;
	font-weight: 300;
	margin:20px 0 .5em;
	padding: .2em 0 .1em;
}

h2:first-child {
	margin-top: 0;
}

h3 {
	font-family: 'Lato';
	font-size: 1.1em;
	font-weight: 400;
}

table {
	border: 1px solid #ccc;
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

pre {
	line-height: 1.7em; 
	margin: 0;
	padding: 2em;
	white-space: normal;
}

pre + .info,
pre + .warning {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

code {
	background-color: #eee;
	border-radius: 3px;
	color: #222;
	margin: 0;
	padding: 0;
	white-space: normal;
}

p code,
.info code {
	font-size: .7em;
	margin-bottom: 0; 
	padding: 0 4px 0;
}

table th {
	padding: .3em .8em;
}

.obsolet {
	color: #999;
}

.obsolet td {
	padding: 2px 6px;
}

p {
	margin: 0 0 20px;
}

p.bolder {
	font-weight: 400;
}

footer {
	border-radius: 4px;
	color: #fff;
	font-size: .9rem;
	font-weight: 400;
	margin: 1em 0 3em;
	padding: 10px 20px;
	text-align: left;
}

footer h2 {
	font-size: .9rem;
}

footer nav {
	float: right;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.demobox {
	margin: 0 0 40px;
}

.img-prev img {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 9px;
	margin: 0 0 40px;
	max-width: 100%;
	padding: 30px;
}

.main-inner > header {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

#dl, .dl {
	background: rgba(0, 0, 0, .5);
	border: 4px;
	border-bottom-right-radius: 3px;
	color: #fff;
	font-size: .8em;
	font-weight: 400;
	left: 0;
	line-height: 1.3em;
	position: absolute;
	padding: .4em 1em;
	text-decoration: none;
	top: 0;
	z-index: 2;
}

#dl:hover,
.dl:hover {
	background: rgba(0, 0, 0, .9);
	color: #fff;
}

#dl [data-icon] {
	font-size: 1.2em;
	line-height: .6em;
}

.dl {
	border-radius: 3px;
	display: inline-block;
	font-size: 1.5em;
	margin-top: 10px;
	position: static;
	width: 200px;
}

.dl span {
	display: block;
	font-size: 3em;
	line-height: 1em;
}

.social-box {
	background: rgba(255, 255, 255, .4);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 4px;
	display: inline-block;
	padding: 8px 8px 4px;
}

.s-plugin {
	display: inline-block;
	margin: 0 6px;
}

.s-plugin:first-child {
	margin-left: 0;
}

.s-plugin.google > div {
	width: 60px !important;
}

.s-plugin.twitter > iframe {
	width: 77px !important;
}

.main-inner {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 5px solid rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    font-size: 1.13rem;
    line-height: 1.4em;
    margin-top: 20px;
    padding-bottom: 20px;
}

.setting {
    font-size: 1.13rem;
    line-height: 1.4em;
    text-align: center;
}

.setting h3 {
	color: #fff;
	font-size: .8em;
	margin: 0 0 10px;
}

nav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

body > .container > header {
/*	background: rgba(255, 255, 255, .8);
	border-bottom: 5px solid #fff;*/
	font-size: 15px;
	position: relative;
	padding: 10px 0;
	z-index: 1;
}

.logo {
	background: rgba(0, 0, 0, .5);
	color: #fff;
	text-decoration: none;
}

.logo:hover {
	color: #04c8e5
}

.logo.active {
	color: #fff;
}

.logo:active {
	text-decoration: none;
}

body > .container > header nav ul {
	color: #fff;
	display: inline-block;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 .2em;
}

nav ul li:first-child {
	margin-left: 0; 
}

nav ul li a {
	background: rgba(255, 255, 255, .4); 
	border: 1px solid transparent;
	border-radius: 2px;
	color: #111;
	display: block;
	font-size: 1.6em;
	font-weight: 300;
	padding: 2px .2em 4px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #f9f9f9;
	border-color: #eee;
	border-radius: 3px;
	color: #aaa;
	text-decoration: none;
}

nav ul li a.active {
	background-color: #04c8e5;
	border-color: #03cae7;
	border-radius: 3px;
	color: #fff;
	cursor: default;
}

nav ul li a [data-icon] {
	font-size: .94em;
}

.tip {
	border-radius: 4px;
	color: #333;
	display: inline-block;
	font-weight: 400;
	padding: 6px 20px 7px;
	position: relative;
	z-index: 2;
}

#tipLeft {
	background-color: #f8f8f8;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	font-size: .8em;
	margin: 27px 0 0 20px;
	padding-right: 5px;
}

#tipLeft [data-icon-after] {
	padding: 0 0 0 6px;
	position: relative;
	top: 2px;
}

#tipLeft:after {
	border: solid transparent;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #f8f8f8;
	border-width: 14px;
	content: " ";
	height: 0;
	left: -28px;
	margin-top: -14px;
	pointer-events: none;
	position: absolute;
	width: 0;
	top: 50%;
}

aside.left {
	border-right: 2px solid #eee;
}

table {
	border-collapse: collapse;
}

section table:last-child {
	margin: 0;
}

p.warning,
section.warning,
p.info,
section.info {
	background-color: #fff391;
	border-radius: 2px;
	font-style: normal;
	line-height: 1.4em;
	padding: 4px;
	text-align: left;
}

p.info,
section.info {
	background-color: #abedfe;
}

section.infoBox.warning {
	background: none;
	border-radius: 0;
	padding: 0;
	text-align: center; 
}

p.warning [data-icon],
p.info [data-icon] {
	display: inline-block;
	padding: 2px 10px 0;
	float: left;
}

p.warning [data-icon]:before,
p.info [data-icon]:before {
	font-size: 1.1em;
	margin-top: 20px;
}

#demoSibling1,
#demoSibling2 {
	margin: 0 auto 10px;
	max-width: 980px;
}

table em {
	font-size: .8em;
	padding: 2px;
}

tr:nth-child(even) {
	background: #f3f3f3;
}

tr:nth-child(odd) {
	background: #fff;
}

tbody tr:hover {
	background: #04c8e5;
	color: #fff;
}

tbody tr:hover a {
	color: #064e59;
}

td {
	padding: 10px 6px;
}

td:first-child {
	font-weight: 400;
}

.lead {
	font-size: 1.6em;
}

.settings {
	position: relative;
	z-index: 1;
}

.settings h1 {
	font-size: 1em;
	font-weight: 300;
	margin: 0 0 .5em;
}

.settings h2 {
	background: none; 
	color: #b8cccf;
	display: inline-block;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.1em;
	margin: 0 15px 8px 0;
	padding: 5px 0 0;
	vertical-align: top;
}

.settings h2:first-child {
	margin-left: 0;
}

.button-box {
	display: inline-block;
}

.button-box:last-child {
	padding-right: 8px;
}

.button-box button {
	float: left;
}

.button-box.type .swap-btn:first-child {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.button-box.speed .swap-btn:last-child {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.button-box.speed {
	margin-left: 1px;
}


button {
	border: 1px solid #e1e1e1;
	color: #ccc;
	display: inline-block;
	font-size: 16px;
	line-height: 1em; 
	margin: 0;
	padding: 4px 7px 5px;
}

button.active {
	border-color: #000;
	color: #fff;
}

button:hover:not(.active) {
	color: #222;
	border-color: #ccc;
}

.swap-btn {
	background: rgba(255, 255, 255, .8);
	border-width: 0;
	font-size: 1.15em;
	padding: 7px 12px 8px;
}

.swap-btn [data-icon]::before {
	padding: 0;
}

.swap-btn:hover:not(.active) {
	background: rgba(0, 0, 0, .4);
	border-color: transparent;
	color: #fff; 
}

.swap-btn.active {
	background-color: #04c8e5;
	border-color: transparent;
}

.infoBox {
}

.infoBox .info {
	background-color: #f8f8f8;	
	border-radius: 3px;
	color: #111;
	float: left;
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 10px 10px 15px;
	text-align: left;
}

.infoBox .info h2 {
	background: none !important;
	color: #000;
	font-size: 1.5em;
	margin: 0 0 5px;
}

.infoBox.warning .info {
	background-color: #fff391;
	color: #413e27;
}

sup {
	font-size: .3em;
	font-weight: 300;
}

ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabs li {
	display: inline-block;
}

ul.tabs li a {
	background-color: #eee;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #00dff3;
	display: inline-block;
	line-height: 1.7em;
	padding: 5px 5px 7px;
	text-decoration: none;
}

ul.tabs li a.active {
	background-color: #00dff3;
	color: #fff;
}

.tabContent {
	background-color: #fff;
	border: 1px solid #00dff3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0 0 25px;
	padding: 20px;
}

a {
	text-decoration: underline;
}

.swap-ico {
	margin: 4.5em 0 0;
	width: 65%; 
}

.arrow-top-box {
	background: #04c8e5;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	color: #fff;
	display: inline-block;
	font-weight: 400;
	margin-top: -5px;
	padding: 10px;
	position: relative;
	width: 300px;
}

.arrow-top-box:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-top-box:after {
	border-color: rgba(4, 200, 229, 0);
	border-bottom-color: #04c8e5;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}


/* Landscape phone to portrait tablet */
@media (max-width: 991px) {
	body > .container > header > div {
		text-align: center;
	}
	
	body > .container > header > div nav {
		padding-bottom: 15px !important;
	}
	
	.dl {
		font-size: 1em;
	}
}